body{
    padding:0px;
    margin:0px;
    font-family: verdana;
    font-size:12px;
    background-color: #f5f7fa;
}

div {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

canvas {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#webglMapping {
    cursor:pointer;
}

#mapContainer {
    position:relative;
    width:970px;
    height:380px;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
    overflow:hidden;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
}

div.topBanner {
    position:relative;
    background-image: url('../images/inertia.png');
    background-repeat: no-repeat;
    background-position: 20px 10px;
    background-color: #3792d8;
    width:970px;
    height:130px;
    margin: 0px auto 0px auto;
    box-shadow: 0px 0px 10px #000000;
    z-index:5;
}

img.eu {
    position:absolute;
    right:20px;
    top:9px;
}

div.topSubBanner {
    width:100%;
    height:180px;
    margin: -130px auto 0px auto;
    background-color: #d9eeff;
}

div.topSubBanner2 {
    width:1000px;
    height:180px;
    margin: -110px auto 0px auto;
    background-color: #23324e;
}

div.menuBanner {
    position:relative;
    width:1024px;
    height:60px;
    margin: -120px auto 0px auto;
    background-color: #385380;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#ffffff;
    line-height:50px;
    box-shadow: 0px 0px 10px #000000;
    z-index:5;
}


div.menuItem {
    display:inline-block;
    width:200px;
    height:20px;
    border-left: 1px #e0e0e0 solid;
    border-right: 1px #e0e0e0 solid;
    margin:-4px;
    padding:4px;
    font-size:12px;
    line-height:20px;
    text-align:center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}


div.roomNames {
    position: absolute;
    font-family: verdana;
    font-size: 9px;
    font-weight:strong;
    color: #f8fff8;
    height:10px;

    background-color: #205176;
    border-radius: 8px;
    padding:2px 5px 2px 5px;
    border:1.5px solid #14334b;
    cursor:pointer;
}

div.arrowDiv {
    margin: 1px auto auto auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid #205176;
}

div.inertiaContent {
    position:relative;
    width: 970px;
    min-height:600px;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
}

div.stats {
    position:relative;
    width: 970px;
    height:340px;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
}

div.stats_overview {
    position:relative;
    margin: 15px auto 15px auto;
    background-color: #ffffff;
}

div.centerAlign {
    display:table;
    margin: 0px auto 0px auto;
}

table.stats {
    border-spacing:0px;
}
table.stats td {
    border-left: 1px #999999 solid;
    border-right: 1px #e4e4e4 solid;
    width:150px;
    height:30px;
    padding-top:0px;
    padding-bottom:0px;
}
table.stats th {
    text-align:left;
    height:20px;
    border-left: 1px #999999 solid;
    border-right: 1px #e4e4e4 solid;
    width:150px;
    color:#2d73a7;

}

span.statsDescription {
    display:block;
    height:25px;
    font-weight: bold;
    font-size:13px;
    font-style: italic;
    color: #14334b;
}

span.preferences {
    color: #3876c2;
    font-weight:normal;
}

#barGraphWrapper {
    position:relative;
    width: 940px;
    margin: 0px auto 0px auto;
    background-color: #ffffff;
}

div.smallGraph {
    display:inline-block;
    width:232px;
    margin-left:15px;
    margin-right:-15px;

}

div.smallGraphExp {
    position:relative;
    display:block;
    width:232px;
    height:32px;
    margin-top:-32px;
    top:32px;
    /*background-color: #ff0000;*/
    z-index:3;
}

#timelineWrapper {
    width:940px;
    margin: 0px auto 0px auto;
}

img.icon {
    height:15px;
    width:15px;
}

div.subsectionBanner1 {
    width:100%;
    height:100px;
    margin: -50px auto 0px auto;
    background-color: #d9eeff;
}

div.subsectionBanner2 {
    width:1000px;
    height:120px;
    margin: -110px auto 0px auto;
    background-color: #23324e;
}

div.subsectionBanner3 {
    position:relative;
    width:1024px;
    height:40px;
    margin: -80px auto 0px auto;
    text-align:center;
    font-size:18px;
    font-weight:bold;
    color:#ffffff;
    line-height:40px;
    background-color: #385380;
    box-shadow: 0px 0px 10px #000000;
    z-index:5;
}

div.bottomBanner1 {
    width:100%;
    height:100px;
    margin: -50px auto 0px auto;
    background-color: #d9eeff;
}

div.bottomBanner2 {
    width:1000px;
    height:120px;
    margin: -120px auto 0px auto;
    background-color: #23324e;
}

div.bottomBanner3 {
    position:relative;
    width:1024px;
    height:50px;
    margin: -50px auto 0px auto;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#ffffff;
    line-height:50px;
    background-color: #385380;
    box-shadow: 0px 0px 10px #000000;
    z-index:5;
}


a.transparent {
 color: inherit;
}

div.explaination {
    width:100%;
    text-align:center;
    font-size:16px;
    font-weight:bold;
    color: #385380;
    line-height:50px;
}

table.derTable {
    padding:4px;
}

table.derTable th {
    text-align:left;
}

table.derTable td.description{
    width:150px;
    height:20px;
}


table.derTable td.data{
    width:100px;
    vertical-align:middle;
}


table.derTable td.bigdata{
    width:300px;
    vertical-align:middle;
}

span.rangeLabel {
    position:relative;
    font-size:11px;
}


div.derElement {
    width:100%;
    height:35px;
    background-color: #eeeeee;
    border-bottom:1px #cccccc solid;
}

div.derUI {
    float:left;
    height:35px;
    font-size:11px;
    text-align:left;
    vertical-align:middle;
    line-height:35px;
    padding-left:3px;
}

div.derUI.toggle{
    width:55px;
}

div.derUI.power{
    width:50px;
    border-left: 1px #cccccc solid;
}

div.derUI.text{
    width:60px;
    border-left: 1px #cccccc solid;
}


div.derUI.temporary{
    opacity:0.6;
    color:#999999;
}

div.derUI.sensorData{
    width:50px;
    border-left: 1px #cccccc solid;
}

div.derUI.text.empty{
    border-left: 0px;
    border-right: 0px;
}

div.derUI.DERrange{
    width:190px;
    border-left: 1px #cccccc solid;
}

div.derUI.empty{
    border-left: 0px;
    border-right: 0px;
}

div.derUI.derName{
    width:150px;
    font-weight:bold;
    padding-left:2px;
}

div.spaceDivHeader {
    font-size:13px;
    font-weight:bold;
    margin:3px;
}

div.subspaceDivHeader {
    font-size:13px;
    font-weight:bold;
    margin:3px;
}

img.toggleImage {
    position:relative;
    top:2px;
}

div.lightButton {
    background-repeat: no-repeat;
    width:80px;
    height:20px;
    cursor:pointer;
}

div.lightButton.on {
    background-image: url("../images/lightbulb.png");
}


div.lightButton.off {
    background-image: url("../images/lightbulb_off.png");
}

#informationContent {
    border: 1px #cccccc solid;
    overflow-y:scroll;
    height:270px;
    background-color:#ffffff;
}

#informationClose {
}


#loadingIndicator {
    width:100%;
    height:450px;
    text-align:center;
    margin-top:230px;
    position:relative;
    display:inline-block;
    font-size: 35px;
    color: #a3a3a3;
    font-style:italic;
}

img.loadingImage {
    position:relative;
}

#informationDiv {
    position:relative;
    display:none;
    width:600px;
    height:300px;
    margin: -70px auto 0px auto;
    left:150px;
    background-color: rgb(255,255,255);
    border-radius:10px;
    padding:15px;
    box-shadow: 0px 0px 10px #000000;
    cursor:default;
}

#informationHeader {
    font-size:16px;
    font-weight:bold;
    color: #385380;
}

#calendar_iframe {
    width: 970px;
    height:1050px;
    border:0px;
}


div.toggleButton {
    background-image: url("../images/toggleOff.png");
    background-repeat: no-repeat;
    background-position: 2px 2px;
    display:inline-block;
    width:138px;
    height:24px;
    font-size:12px;
    border:1px solid #d0d0d0;
    text-align:left;
    padding-top:10px;
    padding-left:60px;
    padding-right:0px;
    border-radius: 40px;
    background-color: #ffffff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:pointer;
}

div.toggleButton.selected {
    background-image: url("../images/toggleOn.png");
    background-color: #ffffff;
}

img.artificialSensor {
    cursor: pointer;
}

#darkOverlay {
    position:absolute;
    top:0px;
    min-width:1024px;
    min-height:1024px;
    width:100%;
    height:100%;
    z-index:999;
    background-color: rgba(0,0,0,0.8);
    display:none;
}

div.artificialSensorPopup {
    position:absolute;
    top:70px;
    left:300px;
    width:300px;
    height:100px;
    padding:10px;
    background-color:#ffffff;
    box-shadow: #111927 0px 0px 10px 3px;
    border-radius:10px;
    z-index:30;
    display:none;
}

#artificialSensor {
    position:relative;
    margin:300px auto auto auto;
    width:900px;
    height:230px;
    padding:10px;
    background-color:#ffffff;
    border-radius:10px;
    display:none;
}


#artificialSensorClose {
}

div.closePopupButton {
    position:absolute;
    right:-12px;
    top:-12px;
    background-image: url("../images/close_icon.png");
    background-repeat: no-repeat;
    width:30px;
    height:30px;
    box-shadow: 0px 0px 7px 1px #000000;
    border-radius:15px;
}

#artificialSensorTimelineContainer {
    width:800px;
    height:150px;
    margin:20px auto auto auto;
}

div.overlayHeader {
    font-size:17px;
    font-weight: bold;
    font-style:italic;
}

div.artificialSensorDescription {
    position:relative;
    top: 10px;
    left: 50px;
    font-size:15px;
    font-style:italic;
}

#contractOverview {
    position:relative;
    margin:300px auto auto auto;
    width:900px;
    height:330px;
    padding:10px;
    background-color:#ffffff;
    border-radius:10px;
    display:none;
}

#contractOverviewContainer {
    width:800px;
    height:280px;
    margin:10px auto auto auto;
}


input.saveButton {
    width:287px;
    margin:0px;
    padding:0px;
}

div.popupText {
    float:left;
    width:60px;
    height:30px;
    text-align:center;

}
div.popupRange {
    float:left;
    width:80px;
    height:30px;
    text-align:center;
}
div.popupButton {
    width:280px;
    height:30px;
    padding-left:3px;
}
div.popupHeader {
    width:280px;
    height:30px;
    font-style:italic;
}

select.inertia {
    width: 70px;
}


div.facilityManagerInfo{
    display: inline-block;
    height:80px;
    padding-top:8px;
    padding-left:10px;
    font-size:17px;
    font-weight:600;
}

div.facilityManagerInfo.main{
    position:relative;
    margin:0px auto 0px auto;
    width:960px;
    background-color:#ffffff;
    display: block;
}


div.facilityManagerInfo.wrapper {
    display:table;
    margin:0px auto 0px auto;
}

#facilityProfileSelector {
    font-size:17px;
    font-weight:600;
}


div.facilityManagerInfo.activeprofile {
}
div.facilityManagerInfo.profiles {
}
div.facilityManagerInfo.information {
    font-weight:500;
    font-size:11px;
}

img.icon {
    position:relative;
    top:3px;
}

a.link1 {
    font-style:italic;
    text-decoration: underline;
    cursor:pointer;
}